global-exclude *.py[cod] __pycache__ *.so
prune .git
prune .github
prune news
prune docs
prune azure-pipelines
prune travis-ci
exclude .pre-commit-config.yaml
exclude .travis.yml
exclude .coverage.yaml
exclude codecov.yml
exclude .codeclimate.yml
exclude .adr-dir
