[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mbed-tools = {editable = true, path = "."}

[dev-packages]
black = "*"
coverage = "*"
flake8 = "*"
flake8-docstrings = "*"
flake8-black = "*"
flake8-copyright = "*"
flake8-file-encoding = "*"
mypy = ">=0.500"
pytest = "*"
pytest-cov = "*"
wheel = "*"
mbed-tools-ci-scripts = "*"
pre-commit = "*"
requests-mock = "*"
factory_boy = "*"
# Additional requirements for ./ci_scripts
boto3 = "*"
jinja2 = "*"
mbed-os-tools = "*"
PyGithub = "*"

[pipenv]
allow_prereleases = true
